{% extends "bugex_webapp/base.html" %}
{% load static from staticfiles %}

{% block title %}{{ pagetitle }}{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span8" align="center">
            <h3>{{ message }}</h3>
            <br><br>
            <img src="{% static "img/BugEx-Xray1.png" %}" alt="BugEx Online X-ray Logo">
        </div>
    </div>
</div>

{% endblock content %}
